<header>
    <div class="brand"><a href="#">Aplicativo de pedidos</a></div>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Base de datos</a></li>
            <li><a href="#"> Categorias </a></li>
            <li><a href="#"> Sección</a></li>
        </ul>
    </nav>
</header>