

<div class="topnav" id="myTopnav">
    <a href="/" class="active">Aplicativo de pedidos</a>
    <div class="options">
        <a href="/">Crear pedido</a>
        <a href="/pacientes">Lista de Productos</a>
        <a href="/pacientes/cigarrillos">Cigarrillos</a>

    </div>
</div>