<!-- views/agregarProducto.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Nueva consulta</title>
</head>
<body>
  <br>
  <h1>Nuevo</h1>
  <br>
  <div class="addProduct">
  <form action="/products/add" method="post" autocomplete="off"
  >
    <label for="px">Paciente:</label>
    <select id="px" name="px" required>
      <option value="" disabled selected >Seleccionar</option>
      <option value="Cigarrillos">Px 1</option>
      <option value="Analgesicos">Px 2</option>
      <option value="Encendedores">Px 3</option>
      <option value="Pegamentos">Px 4</option>
      <option value="Pilas">Px 4</option>
    </select>


    <label id="fecha" for="fecha">Fecha de consulta:</label>
    <input type="date">

    <br>




    <label for="comentario">Comentario:</label>
    <input type="text" id="comentario" name="comentario" required>
    <br>

    

    <br>


    <button class="last" type="submit">Agregar</button>
  </form>

  </div>

</body>

</html>
